* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    margin: 0 auto;
    
    
}
.sticky {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #FF6433;
}

  

.right-section{
    display: flex;
    align-items: center;

}

.right-section ul {
    list-style: none;
    display:flex;
    
}

.road-assistance {
    display:flex;
    padding-left: 15px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: black;
}

.right-section .navigation {
    border-right: 2px dashed grey;
}


.road-assistance .icon {
    margin-right: 10px;
}


/* First section */

.flex {
    display: flex;
}

#first-section {
    padding: 160px 0;
}


#first-section .text-section {
    width: 40%;
    padding-left: 100px;
}

#first-section .image-section {
    width: 60%;
    
}

#first-section .image-section {

    background-image: url(/img/Header-Image.png);

    background-size: cover;
    background-position: center;
    min-height: 68vh;
}

.text-section h1 {
    font-size: 64px;
    padding-top: 100px;
    
}

.orange-btn {
    background-color: #FF6433;
    color: white;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    }

.time-section {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.time-section img {
        width: 100%;
    }
   
.time-section .image-box{
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.time-section .time-text {
    width: 95%;
}

.light-grey {
    color: #939191;
}

/* Second Section */
#second-section {
    padding: 80px 0;
    padding-left: 120px;
    background-color: #E2E6E9;
}

#second-section .left-section,  #second-section .right-section{
    width: 45%;
    }

#second-section ul {
    list-style: none;
}

#second-section ul li {
    margin-bottom: 20px;
}

#second-section .left-section h2 {
margin-bottom: 30px;
font-size: 58px;
}

#second-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}

#second-section .left-section .image-box img {
    width: 100%;
}

#second-section .left-section .text-box {
    width: 50%;
}

#second-section .left-section .text-box h5 {
    font-size: 24px;

 }

#second-section .left-section .text-box p {
   margin-top: 8px;
   
   font-size: 16px;
}

.right-form-section h3 {
    font-size: 48px;
    width: 80%;
    margin-bottom: 30px;
}

.right-form-section input {
    width: 85%;
    padding: 10px;
}

#second-section .know-more a {
    margin-left: 38px;
    color: black;
    text-decoration: none;
}

#second-section .arrow  {
    margin-left: 40px;
}



/* Third section */
#third-section {
    padding: 100px 0;
}

.Lsection{
    width: 50%;
    padding-left: 120px;
    padding-top: 120px;
}

.Rsection{
    width: 50%;
}


.Lsection h1{
    font-size: 58px;
    width: 80%;
}

.Lsection p{
    font-size: 16px;
    width: 60%;
    color: #ad9c9c;
}

.Rsection ul .text-box h5 {
    font-size: 32px;
    margin-top: 18px;
    margin-bottom: 17px;

}

.Rsection ul .text-box p {
    font-size: 18px;
    width: 50%;
    color: #ad9c9c;

}


.line {
    padding-left: 52px;
    padding-top: 10px;
}

.circle {
    width: 60%;
}

.Rsection .circle img {
    width: 100%;
}

.image-box .circle{
    width: 90%;
    padding-left: 20px;
}

.Rsection ul li {
    margin-bottom: 20px;
}

.Rsection ul {
    list-style: none;
}

/* Forth Section */

#forth-section {
    width: 100%;
    padding-top: 80px;
    background: #F2F2F2;
}

#forth-section p {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
}

#forth-section h4 {
    font-size: 58px;
    margin-bottom: 25px;
    text-align: center;
    
}

#forth-section .offer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-left: 45px; */
    margin-bottom: 10px;
}

#forth-section .flex{
    justify-content: end;
    padding-right: 1.5%;
}

#forth-section .know-more a {
    color: black;
    text-decoration: none;
    /* margin-right: 15px; */
    display: flex;
    
}

#forth-section .flex .arrow img {
    display: flex;
    margin-left: 15px;
    }



    /* Fifth part */

#fifth-section {
    width: 100%;
    background-color: #F2F2F2;
    padding-top: 90px;
}

.car {
    width: 20%;
    height: 450px;

    background-image: url(/img/car.png);

    

}

.orange-part {
    width: 40%;
    height: 450px;
    background: #FF6433;
    color: white;
}

.orange-part p{ 
    font-size: 48px;
    text-align: center;
    padding-top: 100px;
}

.carpart {
    width: 40%;
    height: 450px;

    background-image: url(/img/carPart.png);

}


.experience img{
    width: 100%;
}
    


/* Last Section */

.brand-text {
    padding: 60px 0 40px 0;
    font-size: 48px;
    text-align: center;
}

.brand-row img {
    width: 80%;
    
}

.brand-row{
    text-align: center;
}