* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    margin: 0 auto;
    
    
}
.sticky {
    position: fixed;
    top:0;
    width: 100%;
    background-color: #FF6433;
}

  

.right-section{
    display: flex;
    align-items: center;

}

.right-section ul {
    list-style: none;
    display:flex;
    
}

.road-assistance {
    display:flex;
    padding-left: 15px;
}

.right-section ul li {
    margin-right: 20px;
}

.right-section ul li a {
    text-decoration: none;
    color: black;
}

.right-section .navigation {
    border-right: 2px dashed grey;
}


.road-assistance .icon {
    margin-right: 10px;
}


/* First section */

.flex {
    display: flex;
}

#first-section {
    padding: 160px 0;
}


#first-section .text-section {
    width: 40%;
    padding-left: 100px;
}

#first-section .image-section {
    width: 60%;
    
}

#first-section .image-section {

    background-image: url(img/Header-Image.png);

    background-size: cover;
    background-position: center;
    min-height: 68vh;
}

.text-section h1 {
    font-size: 64px;
    padding-top: 100px;
    
}

.orange-btn {
    background-color: #FF6433;
    color: white;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 35px;
    display: inline-block;
    }

.time-section {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.time-section img {
        width: 100%;
    }
   
.time-section .image-box{
    width: 5%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.time-section .time-text {
    width: 95%;
}

.light-grey {
    color: #939191;
}

/* Second Section */
#second-section {
    padding: 80px 0;
    padding-left: 120px;
    background-color: #E2E6E9;
}

#second-section .left-section,  #second-section .right-section{
    width: 45%;
    }

#second-section ul {
    list-style: none;
}

#second-section ul li {
    margin-bottom: 20px;
}

#second-section .left-section h2 {
margin-bottom: 30px;
font-size: 58px;
}

#second-section .left-section .image-box {
    width: 5%;
    margin-right: 10px;
}

#second-section .left-section .image-box img {
    width: 100%;
}

#second-section .left-section .text-box {
    width: 50%;
}

#second-section .left-section .text-box h5 {
    font-size: 24px;

 }

#second-section .left-section .text-box p {
   margin-top: 8px;
   
   font-size: 16px;
}

.right-form-section h3 {
    font-size: 48px;
    width: 80%;
    margin-bottom: 30px;
}

.right-form-section input {
    width: 85%;
    padding: 10px;
}

#second-section .know-more a {
    margin-left: 38px;
    color: black;
    text-decoration: none;
}

#second-section .arrow  {
    margin-left: 40px;
}



/* Third section */
#third-section {
    padding: 100px 0;
}

.Lsection{
    width: 50%;
    padding-left: 120px;
    padding-top: 120px;
}

.Rsection{
    width: 50%;
}


.Lsection h1{
    font-size: 58px;
    width: 80%;
}

.Lsection p{
    font-size: 16px;
    width: 60%;
    color: #ad9c9c;
}

.Rsection ul .text-box h5 {
    font-size: 32px;
    margin-top: 18px;
    margin-bottom: 17px;

}

.Rsection ul .text-box p {
    font-size: 18px;
    width: 50%;
    color: #ad9c9c;

}


.line {
    padding-left: 52px;
    padding-top: 10px;
}

.circle {
    width: 60%;
}

.Rsection .circle img {
    width: 100%;
}

.image-box .circle{
    width: 90%;
    padding-left: 20px;
}

.Rsection ul li {
    margin-bottom: 20px;
}

.Rsection ul {
    list-style: none;
}

/* Forth Section */

#forth-section {
    width: 100%;
    padding-top: 80px;
    background: #F2F2F2;
}

#forth-section p {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
}

#forth-section h4 {
    font-size: 58px;
    margin-bottom: 25px;
    text-align: center;
    
}

#forth-section .offer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-left: 45px; */
    margin-bottom: 10px;
}

#forth-section .flex{
    justify-content: end;
    padding-right: 1.5%;
}

#forth-section .know-more a {
    color: black;
    text-decoration: none;
    /* margin-right: 15px; */
    display: flex;
    
}

#forth-section .flex .arrow img {
    display: flex;
    margin-left: 15px;
    }



    /* Fifth part */

#fifth-section {
    width: 100%;
    background-color: #F2F2F2;
    padding-top: 90px;
}

.car {
    width: 20%;
    height: 450px;

    background-image: url(img/car.png);

    

}

.orange-part {
    width: 40%;
    height: 450px;
    background: #FF6433;
    color: white;
}

.orange-part p{ 
    font-size: 48px;
    text-align: center;
    padding-top: 100px;
}

.carpart {
    width: 40%;
    height: 450px;

    background-image: url(img/carPart.png);

}


.experience img{
    width: 100%;
}
    


/* Last Section */

.brand-text h1{
    padding: 60px 0 40px 0;
    font-size: 48px;
    text-align: center;
}

.brand-row img {
    width: 80%;
    
}

.brand-row{
    text-align: center;
}



/* CUSTOMER'S REVIEW */

#customer-section{
    background: #F2F2F2;
    padding-top: 40px;
    min-height: 90vh;
    
}

.reviewtop-text h1, .faq-text {
    font-size: 48px;
    text-align: center;
    padding: 20px 0px 50px 0px;
}

.two-review {
    display: flex;
}

.rectangle1 {
    width: 30%;
    background: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 16%;
    
}

.rectangle2 {
    width: 30%;
    background: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

.review-image img {
    width: 55%;
    padding-bottom: 15px;
}

.review-text p {
    font-size: 24px;
}

.lines {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    
    
}



/* FAQ */

#faq {
    background: #E2E6E9;
    padding: 40px 0 60px 0;
    min-height: 90vh;
}

.faq-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 45px 20px 20px;
    background: #FFFFFF;
    display: flex;
}

.minimize img {
    padding-left: -6px;
    width: 170%;
}

.faq-box-text h1{
    font-size: 24px;
    margin-bottom: 15px;
}

.faq-box-text p {
    font-size: 18px;
}


.faq-box2 {
    margin: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 45px 0px 20px;
    background: #FFFFFF;
    display: flex;
    
}

.maximize1 img {
    width: 9%;
    margin-left: 740px;
}

.maximize2 img {
    width: 9%;
    margin-left: 768px;
}

.maximize3 img {
    width: 9%;
    margin-left: 754px;
}

.maximize4 img {
    width: 9%;
    margin-left: 762px;
}


.faq-box-text2 h1{
    font-size: 24px;
    margin-bottom: 15px;
    width: 138%;
}

.faq-box-text2 p {
    font-size: 18px;
}



/* FOOTER */

#footer {
    background: #1E1B1B;
}

.footer-container {
    display: flex;
    padding-bottom: 80px;
}

.left-side {
    width: 40%;
}

.right-side {
    width: 60%;
    margin-left: 10%;
}

   
.left-text h2 {
    font-size: 48px;
    padding: 70px 0 50px 0;
    color: white;
}

.left-side {
    padding-left: 80px;
}

.left-logos img {
    margin-right: 10px;
}

.right-text {
    padding-top: 70px;
    color: white;
}

.right-text small {
    font-size: 18px;
    
}

.right-text h4 {
    font-size: 24px;
    
}


/* FOOTER NAVIGATION */

.footer-navigation {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    background: #161111;

}

.footer-logo {
    margin-left: 90px;
}

.footer-menu ul {
    display: flex;
} 

.footer-menu ul li {
        margin-right: 20px;
        display: flex;
    }
    
.footer-menu ul li a {
        text-decoration: none;
        color: white;
    }

.footer-copyright {
    margin-right: 80px;

    }

/* ********************** */
    /* MEDIA QUERIES */
/* ********************** */

@media (max-width: 2561px) {
    #customer-section {
        min-height: 36vh;
    }

    #faq {
        min-height: 47vh;
    }

    .left-side {
        width: 70%;
        padding-left: 483px;
    }

    #second-section {
        padding-left: 524px;
    }

    #second-section .left-section, #second-section .right-section {
        width: 43%;
    }

    .Lsection {
        width: 71%;
        padding-left: 546px;
    }

    .text-section h1 {
        font-size: 100px;
    }

    .orange-btn {
        padding: 20px 43px;
        font-size: 40px;
    }

    .time-section .time-text {
        font-size: 34px;
    }

    .time-section .image-box {
        width: 8%;
    }

    #first-section .text-section {
        padding-top: 117px;
    }

}

@media (max-width: 1441px) {
    #customer-section {
        min-height: 66vh;
    }

    .text-section h1 {
        font-size: 64px;
        padding-top: 0;
    }

    #first-section .text-section {
        padding-top: 0;
    }

    .orange-btn {
        padding: 16px 40px;
        font-size: 20px;
    }

    .time-section .time-text {
        font-size: 20px;
    }

    #second-section {
        padding-left: 200px;
    }

    .Lsection {
        padding-left: 120px;
    }

    .maximize1 img {
        width: 16%;
        margin-left: 241px;
    }

    .maximize2 img {
        width: 15%;
        margin-left: 263px;
    }

    .maximize3 img {
        width: 15%;
        margin-left: 249px;
    }

    .maximize4 img {
        width: 15%;
        margin-left: 258px; 
    }

    .left-side {
        width: 70%;
        padding-left: 133px;
    }


}

@media (max-width: 1025px) {

    #second-section {
        width: 113%;
    }

    #second-section .left-section h2 {
        width: 85%;
    }

    .Lsection {
        width: 79%;
        padding-left: 275px;
        padding-top: 36px;
    }

    .line {
        padding-left: 33px;
    }

    #forth-section .offer img {
        width: 80%;
    }

    #forth-section, #fifth-section, #customer-section, #faq, #footer {
        width: 113%;
    }

    .minimize img {
        padding-left: 32px;
        width: 199%;
    }

}

@media (max-width: 768px) {

   #second-section,  #forth-section, #fifth-section,  #faq, #footer, #customer-section {
        width: 100%;

    }


    .text-section h1 {
        font-size: 35px;
    }

    .orange-btn {
        padding: 9px 21px;
        font-size: 18px;
    }

    .time-section .time-text {
        font-size: 11px;
    }

    .Lsection h1 {
        font-size: 43px;
        width: 90%;
    }

    .Lsection {
        padding-left: 120px;
        width: 50%;
        padding-top: 103px;
    }

    .lines {
        padding: 50px 0;
    }

    .maximize1 img, .maximize2 img, .maximize3 img, .maximize4 img {
        width: 18%;
        margin-left: 177px;
    }

    .left-side {
        width: 58%;
        padding-left: 48px;
    }

    .footer-logo {
        padding-right: 79px;
        margin-left: -19px;
    }

    .footer-menu ul {
        padding-right: 39px;
    }

    #second-section {
        padding-left: 97px;
    }

    #second-section .left-section, #second-section .right-section {
        width: 130%;
    }


}

@media (max-width: 426px) {
    .road-assistance {
        display: none;
    }

    #first-section, #second-section, #forth-section, #fifth-section, #faq, #footer, #customer-section, .Lsection, .Rsection  {
        width: 146%;
    }

    .orange-btn {
        padding: 10px 20px;
        margin-top: 8px;
    }

    .time-section .image-box {
        width: 25%;
    }

    .time-section {
        margin-top: 3px;
    }

    #first-section {
        padding: 120px 0 26px 0;
    }

    #third-section .container .flex {
        flex-direction: column;
    }

    .Lsection {
        order: 1;
        padding-left: 82px;
        padding-top: 0;
    }

    .Rsection {
        order: 2;
        width: 146%;
        padding-left: 260px;
    }

    .Rsection .circle img {
        width: 11%;
        
    }

    .Lsection p {
        padding-bottom: 50px;
    }

    .brand-text, .brand-row {
        width: 146%;
    }

    .maximize1 img, .maximize2 img, .maximize3 img, .maximize4 img {
        width: 33%;
        margin-left: 93px;
    }

    .right-side {
        width: 100%;
    }

    .footer-menu ul {
        padding-right: 15px;
    }



} 

@media (max-width: 376px) {
    #first-section, #second-section, #forth-section, #fifth-section, #faq, #footer, #customer-section, .Lsection, .Rsection  {
        width: 161%;
    }
}

@media (max-width: 321px) {
    #first-section, #second-section, #forth-section, #fifth-section, #faq, #footer, #customer-section, .Lsection, .Rsection  {
        width: 188%;
    }
}
